<div class="row mt-4">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">

                <h1 class="text-center">
                    <span class="text-primary">
                        <i class="fa fa-lock" aria-hidden="true"></i> Login 
                    </span>
                </h1>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input formControlName="email" type="text" class="form-control" placeholder="Email" id="email">
                        <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched) || loginForm.get('email')?.dirty">
                            <div *ngIf="loginForm.get('email')?.getError('required')">
                                This field is Required
                            </div>
                            <div *ngIf="loginForm.get('email')?.getError('email')">This field should be email address</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input formControlName="password" type="password" name="password" class="form-control" placeholder="Password" id="password">
                        <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched) || loginForm.get('password')?.dirty">
                            <div *ngIf="loginForm.get('password')?.getError('required')">
                                This field is Required
                            </div>
                            <div *ngIf="loginForm.get('password')?.getError('minlength')">This field should be 8 caracters</div>
                            <div *ngIf="loginForm.get('password')?.getError('maxlength')">This field should be 8 caracters</div>
                        </div>
                    </div>

                    <div class="d-grid gap-2 mt-3">
                        <!-- {{loginForm.value | json}} -->
                        <button [disabled]="loginForm.invalid" class="btn btn-block btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>